body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding:0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerContainer{

  background: #dc2424; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dc2424, #4a569d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dc2424, #4a569d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
  

}

.headerHeading{
   
  color:#fff;
  font-size: 40px;
  margin-top: 30px;
  

}

.headerImage{

   text-align: center;
   align-items: center;
   width:100px;
   height: 100px;

}

@media(max-width:575px){
  .headerImage{

    
    width:100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
 
 }
}

.memeContainer{

  margin-top: 15px;

}

.memeInput{
  margin-left: 10px;
  outline: none;
  width: 300px;
  height: 50px;
  font-size: 30px;
  margin-top: 5px;
}

.memeInput:active{
  color: gray;
}

.memeDiv{
   
}

.btn{
  float: right;
  width:100%
}

@media(max-width:1125px)
{
  .memeInput{
    margin-left: 10px;
    outline: none;
    width: 100%;
    height: 50px;
    font-size: 30px;
    margin-top: 5px;
  }
  .btn{
    float: right;
    width:100%;
    height:100%
  }
}

@media(max-width:574px)
{
  .btn{
    float: right;
    width:100%;
    height:100%;
    margin-top:5px
  }
}

.memeImagerow{
  margin-top: 10px;
  position: relative;
}

.memeImage{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.first-text {
    
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 70px;
    font-weight: bold;
    text-shadow: 2px 2px 2px grey;
    
  }

.last-text{
 
   position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 2px grey;


}

@media(max-width:991px)
{
   .first-text{
     font-size: 30px;
   }
   .last-text{
     font-size: 30px;
   }
} 
@media(max-width:767px)
{
   .first-text{
     font-size: 20px;
   }
   .last-text{
     font-size: 20px;
   }
} 

@media(max-width:453px)
{
   .first-text{
     font-size: 16px;
   }
   .last-text{
     font-size: 16px;
   }
} 

@media(max-width:377px)
{
   .first-text{
     font-size: 13px;
   }
   .last-text{
     font-size: 13px;
   }
}

@media(max-width:320px)
{
   .first-text{
     font-size: 10px;
   }
   .last-text{
     font-size: 10px;
   }
}